
.ReactModal__Overlay--after-open {
	background-color: transparentize($black, 0.3) !important;
	display: flex;
	z-index: 9;
}
.ReactModal__Content {
	border-radius: $radius !important;
	border: none !important;
	position: initial !important;

	margin: auto auto;
	max-width: 40em;

	h2 {
		display: block;
		color: $navy;
		font-family: $headings;
		margin-top: 0;
		padding-bottom: .5em;
		border-bottom: solid .05em $chalk;
	}
}
