@import "./variables";
@import "./responsive";

@import "./header";
@import "./leaderboard";
@import "./new";
@import "./modal";
@import "./form";
@import "./loading";
@import "./sticky";

html, body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: $body;
  -webkit-overflow-scrolling: touch;
}
